parameters:
  level: max

  paths:
    - config
    - src

  ignoreErrors:
    -
      message: "#^ArrayObject\\<\\*NEVER\\*, \\*NEVER\\*\\> does not accept Benjaminmal\\\\ExchangeRateHostBundle\\\\Model\\\\Output\\\\.*\\.$#"
      count: 3
      path: src/Client/ExchangeRateHostClient.php

    -
      message: "#^Method Benjaminmal\\\\ExchangeRateHostBundle\\\\Client\\\\ExchangeRateHostClient\\:\\:.*\\(\\) return type with generic class ArrayObject does not specify its types\\: TKey, TValue$#"
      count: 7
      path: src/Client/ExchangeRateHostClient.php

    -
      message: "#^Parameter \\#1 \\$array of class ArrayObject constructor expects array\\<TKey of \\(int\\|string\\), TValue\\>\\|object, mixed given\\.$#"
      count: 1
      path: src/Client/ExchangeRateHostClient.php

    -
      message: "#^Method Benjaminmal\\\\ExchangeRateHostBundle\\\\ExchangeRateHostBundle\\:\\:loadExtension\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
      count: 1
      path: src/ExchangeRateHostBundle.php

    -
      message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
      count: 1
      path: src/ExchangeRateHostBundle.php
